type project
id
    Freya.Machines.Http
title
    Freya.Machines.Http
description
    A Freya machine expressing the core HTTP semantics and logic
tags
    functional, web, f#, freya, machines, http
version
    3.0.0-rc02
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://xyncro.tech/freya
licenseUrl
    https://github.com/xyncro/freya-machines/blob/master/LICENSE.md
requireLicenseAcceptance
    false
